/* Style the container for inputs */

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

    #message p {
        padding: 10px 35px;
        font-size: 18px;
    }
.popover-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.alert-popover {
    max-width: 300px;
    color: #ffffff;
    background-color: #6A307D;
    padding: 40px; /* Ensure the close button is positioned relative to this container */
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    padding: 0.5rem 0.5rem; /* Adjust as needed */
    font-size: 0.75rem; /* Adjust as needed */
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

    .valid:before {
        position: relative;
        left: -35px;
        content: "\2713";
    }

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

    .invalid:before {
        position: relative;
        left: -35px;
        content: "\2716";
    }
