
<div class="tu-main-login">
		<div class="tu-login-left">
			<strong>
				<a href="/"><img src="~/images/login/logo_white.png" alt="images"></a>
			</strong>
			<figure>
				<img src="~/images/login/img-01.png" alt="images">
			</figure>
			<div class="tu-login-left_title">
				<h2>Yes! we’re making progress</h2>
				<span>every minute & every second</span>
			</div>
		</div>
		<div class="tu-login-right">
			<div class="tu-login-right_title">
				<h2>Welcome!</h2>
				<h3>It’s really nice to see you</h3>
			</div>
        <form autocomplete="off" class="tu-themeform tu-login-form signupform" enctype="multipart/form-data" asp-controller="Authentication" asp-action="Signup">
            <fieldset>
                <div class="tu-themeform__wrap">
                    <div class="form-group-wrap">
                        <div class="form-group">
                            <!-- Profile Image -->
                            <div class="tu-placeholderholder">
                                <input id="profilepic" type="file" class="form-control" placeholder="Profile Image" name="ProfileImage" onchange="previewProfileImage(this)" accept=".png, .jpg, .jpeg">
                                <div class="d-flex justify-content-center align-items-center" style="width: 100px; height: 100px;">
                                    <img id="profileimage" class="img-thumbnail" style="max-width: 100%; max-height: 150%;" />
                                </div>
                            </div>
                        </div>
                        
                    
                        <!-- Full Name -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control" required="" placeholder="Full Name" name="FullName">
                                <div class="tu-placeholder">
                                    <span>Full name</span>                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control" required="" placeholder="Username" name="Username">
                                <div class="tu-placeholder">
                                    <span>Username</span>
                                    <em>*</em>
                                </div>
                            </div>
                        </div>
                        <!-- Email Address -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input id="useremail" type="email" class="form-control" required="" placeholder="Email address" name="Email">
                                <div class="tu-placeholder">
                                    <span>Email address</span>
                                    <em>*</em>
                                </div>
                            </div>

                        </div>
                        <div id="emailError" style="color: red; display: none;">Invalid email</div>
                        <!-- Password -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input id="userpassword" type="password" class="form-control userpassword" required="" placeholder="Password" name="Password">
                                <div class="tu-placeholder">
                                    <span>Password</span>
                                    <em>*</em>
                                </div>
                            </div>
                        </div>
                        <div id="message" style="display:none">
                            <p id="letter" class="invalid">A lowercase letter</p>
                            <p id="capital" class="invalid">A capital (uppercase) letter</p>
                            <p id="number" class="invalid">A number</p>
                            <p id="specialchar" class="invalid">A Special Character</p>
                            <p id="length" class="invalid">Minimum 8 characters</p>
                        </div>
                        <!-- Role -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                 <select class="form-control" required="" name="Role">
                                 <option value="">Select Role</option>
                                    @{
                                        var role = TempData["Role"] != null ? TempData["Role"].ToString() : null;
                                    }
                                    @if (role == "10")
                                    {
                                        <option value="10" selected>Student</option>
                                        <option value="20">Teacher</option>
                                    }
                                    else if (role == "20")
                                    {
                                        <option value="10">Student</option>
                                        <option value="20" selected>Teacher</option>
                                    }
                                    else
                                    {
                                        <option value="10">Student</option>
                                        <option value="20">Teacher</option>
                                    }
                                </select>
                                
                            </div>

                        </div>
                   
                        <!-- Phone -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control" placeholder="Phone (Optional)" name="Phone">
                                <div class="tu-placeholder">
                                    <span>Phone (Optional)</span>
                                </div>
                            </div>
                        </div>
                        <!-- Website -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control"  placeholder="Website (Optional)" name="Website">
                                <div class="tu-placeholder">
                                    <span>Website (Optional)</span>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control" placeholder="Street Address (Optional)" name="StreetAddress">
                                <div class="tu-placeholder">
                                    <span>Street Address (Optional)</span>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- City -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control" placeholder="City (Optional)" name="City">
                                <div class="tu-placeholder">
                                    <span>City (Optional)</span>
                                  
                                </div>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="form-group">
                            <div class="tu-placeholderholder">
                                <input type="text" class="form-control" placeholder="Country (Optional)" name="Country">
                                <div class="tu-placeholder">
                                    <span>Country (Optional)</span>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Check that the data-sitekey attribute matches your site key -->
                            <div class="g-recaptcha" data-sitekey="6LdkiKwpAAAAAL5Y_wOfrcJEJbWON7mqCo_9bCa2" data-callback="onRecaptchaSubmit"></div>
                            <input type="hidden" name="recaptchaToken" id="recaptchaToken" />

                        </div>
                        <!-- Join Button -->
                        <div class="form-group">
                            <button class="tu-primbtn-lg" type="submit"><span>Join now</span><i class="icon icon-arrow-right"></i></button>
                        </div>                       
                        <div class="form-group">
                            <div class="tu-check tu-signup-check">
                                <input type="checkbox" id="expcheck2" name="expcheck">
                                <label for="expcheck2"><span>I have read and agree to all <a href="javascript:void(0);">Terms &amp; conditions</a></span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <a class="nav-link" asp-controller="Authentication" asp-action="Login">Already Have an account ! LogIn</a>
		</div>
	</div>



