<main>
	<div class="tu-main-login">
		<div class="tu-login-left">
			<strong>
				<a href="Index"><img src="~/images/login/logo_white.png" alt="images"></a>
			</strong>
			<figure>
				<img src="~/images/login/img-01.png" alt="images">
			</figure>
			<div class="tu-login-left_title">
				<h2>Yes! we’re making progress</h2>
				<span>every minute & every second</span>
			</div>
		</div>
		<div class="tu-login-right">
			<div class="tu-login-right_title">
				<h2>Welcome!</h2>
				<h3>We know you'll come back</h3>
			</div>
			<form autocomplete="off" class="tu-themeform tu-login-form" asp-controller="Authentication" asp-action="Login">
				<fieldset>
					<div class="tu-themeform__wrap">
						<div class="form-group-wrap">
							<div class="form-group">
								<div class="tu-placeholderholder">
									<input id="useremail" type="text" name="Email" class="form-control" required="" placeholder="Email">
									<div class="tu-placeholder">
										<span>Email</span>
										<em>*</em>
									</div>
								</div>
							</div>
							<div id="emailError" style="color: red; display: none;">Invalid email</div>
							<div class="form-group">
								<div class="tu-placeholderholder">
									<input  type="password" class="form-control userpassword" name="Password" required="" placeholder="Password">
									<div class="tu-placeholder">
										<span>Password</span>
										<em>*</em>
									</div>
								</div>
							</div>
						
							<div class="form-group">
								<button type="submit" class="tu-primbtn-lg"><span>Login now</span><i class="icon icon-arrow-right"></i></button>
							</div>
							<div class="form-group">
								<div class="tu-optioanl-or">
									<span>OR</span>
								</div>
							</div>
							<div class="form-group">
								<a href="https://google.com/v2/identifier?flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin" target="_blank" class="tu-btn-signup">
									<img src="~/images/google.png" alt="images">
									Sign in with Google
								</a>
							</div>
							<div class="tu-lost-password form-group">
								<a class="nav-link" asp-controller="Authentication" asp-action="index">Join us today</a>
								<a class="nav-link" asp-controller="Authentication" asp-action="Lostpassword">Lost password?</a>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</main>