<main>
	<div class="tu-main-login">
		<div class="tu-login-left">
			<strong>
				<a href="index.html"><img src="~/images/login/logo_white.png" alt="images"></a>
			</strong>
			<figure>
				<img src="~/images/login/img-01.png" alt="images">
			</figure>
			<div class="tu-login-left_title">
				<h2>Yes! we’re making progress</h2>
				<span>every minute & every second</span>
			</div>
		</div>
		<div class="tu-login-right">
			<div class="tu-login-right_title">
				<h2>Dont worry!</h2>
				<h3>We’ll send you the reset link</h3>
			</div>
			<form autocomplete="off" id="loginform" class="tu-themeform tu-login-form" asp-controller="Authentication" asp-action="Recoverpassword">
				<fieldset>
					<div class="tu-themeform__wrap">
						<div class="form-group-wrap">
							<div class="form-group">
								<div class="tu-placeholderholder">
									<input id="useremail" name="email" type="email" class="form-control" required="" placeholder="Enter email address">
									<div class="tu-placeholder">
										<span>Enter email address</span>
										<em>*</em>
									</div>
								</div>
							</div>
							<div id="emailError" style="color: red; display: none;">Invalid email</div>
							<div class="form-group">
							<!-- Check that the data-sitekey attribute matches your site key -->							
							<div class="g-recaptcha" data-sitekey="6LdkiKwpAAAAAL5Y_wOfrcJEJbWON7mqCo_9bCa2" data-callback="onRecaptchaSubmit"></div>
							</div>
							<input type="hidden" name="recaptchaToken" id="recaptchaToken" />
							<div class="form-group">
								<button type="submit" class="tu-primbtn-lg"><span>Send reset link</span><i class="icon icon-arrow-right"></i></button>
							</div>
							<div class="tu-lost-password form-group">
								<a class="nav-link" asp-controller="Authentication" asp-action="Login">Login now</a>
								<a class="nav-link" asp-controller="Authentication" asp-action="index">Join us today</a>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</main>

