@model int

<link href="~/css/customcss.css" rel="stylesheet" />
<div class="tu-themeform__wrap">
    <form autocomplete="off" id="signupForm" class="tu-themeform tu-login-form signupform" asp-controller="Authentication" asp-action="UpdateNewPassword">
        <input name="userid" value="@Model" hidden />
            <div class="form-group-wrap">
                <!-- New Password -->
                <div class="form-group">
                    <div class="tu-placeholderholder">
                    <input id="userpassword" type="password" class="form-control userpassword" required="" placeholder="New Password" name="NewPassword">
                        <div class="tu-placeholder">
                            <span>New Password</span>
                        </div>
                    </div>
                </div>
            <div id="message" style="display:none">
                <p id="letter" class="invalid">A lowercase letter</p>
                <p id="capital" class="invalid">A capital (uppercase) letter</p>
                <p id="number" class="invalid">A number</p>
                <p id="specialchar" class="invalid">A Special Character</p>
                <p id="length" class="invalid">Minimum 8 characters</p>
            </div>
                <!-- Confirm Password -->
                <div class="form-group">
                    <div class="tu-placeholderholder">
                    <input id="confirmPassword" type="password" class="form-control userpassword" required="" placeholder="Confirm Password" name="ConfirmPassword">
                        <div class="tu-placeholder">
                            <span>Confirm Password</span>
                        </div>
                    </div>
                </div>
                <!-- Error Message -->
            <div id="passwordMismatchError" style="color: red; display: none;">Passwords do not match</div>
                <!-- Submit Button -->
                <div class="form-group">
                    <button id="submitButton" class="tu-primbtn-lg" type="submit"><span>Update Password</span><i class="icon icon-arrow-right"></i></button>
                </div>
            </div>
       
   
 </form>
</div>


