@{
    ViewData["Title"] = "Blogs";
}
    <!-- MAIN START -->
    <main class="tu-main tu-bgmain">
        <div class="tu-main-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-xxl-3">
                        <aside class="tu-asidewrapper">
                            <a href="javascript:void(0)" class="tu-dbmenu"><i class="icon icon-chevron-left"></i></a>
                            <div class="tu-aside-menu">
                                <div class="tu-asideitem">
                                    <h5 data-bs-toggle="collapse" data-bs-target="#searchitem" aria-expanded="true">Narrow search</h5>
                                    <div class="collapse tu-collapseitem show" id="searchitem">
                                        <div class="tu-inputiconbtn">
                                            <input type="text" placeholder="Search with keyword" class="form-control tu-showplaceholder">
                                            <span class="tu-search-icon"><i class="icon icon-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tu-asideitem">
                                    <h5 data-bs-toggle="collapse" data-bs-target="#searchitem_a" aria-expanded="true">Categories</h5>
                                    <div class="collapse tu-collapseitem show" id="searchitem_a">
                                        <ul class="tu-categorieslist">
                                            <li>
                                                <p>Parenting<span>(11,363)</span></p>
                                            </li>
                                            <li>
                                                <p>Politics<span>(35,409)</span></p>
                                            </li>
                                            <li>
                                                <p>Writing<span>(24,665)</span></p>
                                            </li>
                                            <li>
                                                <p>DIY<span>(28,753)</span></p>
                                            </li>
                                            <li>
                                                <p>Mom<span>(8,963)</span></p>
                                            </li>
                                            <li>
                                                <p>Entertainment<span>(35,074)</span></p>
                                            </li>
                                            <li>
                                                <p>Parenting<span>(11,363)</span></p>
                                            </li>
                                            <li>
                                                <p>Politics<span>(35,409)</span></p>
                                            </li>
                                            <li>
                                                <p>Writing<span>(24,665)</span></p>
                                            </li>
                                        </ul>
                                        <div class="show-more">
                                            <a href="javascript:void(0);" class="tu-readmorebtn tu-show_more">Show all</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tu-asideitem">
                                    <h5 data-bs-toggle="collapse" data-bs-target="#searchitem_b" aria-expanded="true">
                                        Most commented
                                    </h5>
                                    <div class="collapse tu-collapseitem show" id="searchitem_b">
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-01.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Pharma Must Not Let Its COVID-19 Halo Slip ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-02.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Health and Research in Oncology roliem ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-03.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Pharma R&D’s COVID-19 Scarames noshame ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-04.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Pharma360: Improving the Speed to Insight ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-05.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Pipeline In a Pill: You Still A Winning ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-02.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Health and Research in Oncology roliem ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="tu-commenteditem">
                                            <figure>
                                                <img src="~/images/blogdetail/img-03.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-commentdescp">
                                                <a href="blog-detail-left.html">
                                                    <h6>Pharma R&D’s COVID-19 Scarames noshame ...</h6>
                                                </a>
                                                <span>Jun 27, 2020</span>
                                            </div>
                                        </div>
                                        <div class="show-more">
                                            <a href="javascript:void(0);" class="tu-readmorebtn tu-show_more">Show all</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tu-asideitem">
                                    <h5 data-bs-toggle="collapse" data-bs-target="#searchitem-e" aria-expanded="true">
                                        Instagram
                                    </h5>
                                    <div class="collapse tu-collapseitem show" id="searchitem-e">
                                        <ul class="tu-postgallary">
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-01.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-02.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-03.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-04.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-05.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-06.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-07.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-08.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-09.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-10.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-11.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/" target="_blank">
                                                    <img src="~/images/blogdetail/instagram~/images/img-12.jpg" alt="image-descriptiop">
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-12 col-xl-8 col-xxl-9">
                        <div class="tu-blogwrapper">
                            <figure>
                                <img src="~/images/blogdetail/img-06.jpg" alt="image-description">
                            </figure>
                            <div class="tu-bloginfo">
                                <ul class="tu-taglinks">
                                    <li>
                                        <a href="search-listing.html">Space</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">Architecture</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">DIY</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tu-blogtitle">
                                <h3>Pharma R&D’s COVID-19 Scar that goes beyond thoughts</h3>
                            </div>
                            <ul class="tu-blogiteminfo">
                                <li>
                                    <i class="icon icon-calendar"><span>Jun 27, 2021</span></i>
                                </li>
                                <li>
                                    <i class="icon icon-message-square"><span>127,558</span></i>
                                </li>
                                <li>
                                    <i class="icon icon-eye"><span>856,854</span></i>
                                </li>
                            </ul>
                            <div class="tu-description">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                    quiaptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    Neque porero quisquam est, qui dolorem ipsum quia dolor sit amet consectetur,
                                    adipisci velit, sed quia non numquam eiustam modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>
                                <p>
                                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid extmishea commodi consequatur?
                                    Quis autem vel eum iure reprehenderit
                                    qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                                </p>
                            </div>
                            <div class="tu-blogfeatures">
                                <div class="tu-featurelist">
                                    <div class="tu-description">
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem antium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                    </div>
                                    <ul class="tu-mainlist">
                                        <li>Cupiditate non provident, similique sunt in culpame</li>
                                        <li>Quiofficia deserunt mollitia animi id est laborum etalorum</li>
                                        <li>Et harum quidem rerum facilis expedita</li>
                                        <li>Nam libero tempore cum soluta</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tu-overviewtitle">
                                <h4>A little smart overview</h4>
                                <div class="tu-description">
                                    <p>
                                        Nemo enim ipsam voluptatem quiaptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porero quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam eiustam modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                    </p>
                                    <p>
                                        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid extmishea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                                        voluptas nulla pariatur
                                    </p>
                                </div>
                                <div class="tu-quototitle text-center">
                                    <blockquote>
                                        <h3>
                                            <q>“ Challenges are what make life interesting and overcoming them is what makes life meaningful. ”</q>
                                        </h3>
                                    </blockquote>
                                    <div class="tu-quotoauthor">
                                        <a href="tutor-detail.html">Cameron Williamson</a>
                                    </div>
                                </div>
                                <div class="tu-description">
                                    <p>
                                        Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porero quisquam est, qui dolorem ipsum quia dolor sit amet
                                        consectetur, adipisci velit, sed quia non numquam eiustam modi tempora incidunt ut labore eet dolore magnam aliquam quaerat voluptatem
                                        enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisimut aliquid extmishea commodi consequatur
                                        quis autem vel eum iure reprehenderit qui in ea voluptate.
                                    </p>

                                </div>
                            </div>
                            <div class="tu-videoimg">
                                <iframe class="tu-iframe" src="https://www.youtube.com/embed/XxxIEGzhIG8"></iframe>
                            </div>
                            <div class="tu-description">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                    quiaptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    Neque porero quisquam est, qui dolorem ipsum quia dolor sit amet consectetur,
                                    adipisci velit, sed quia non numquam eiustam modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>
                                <p>
                                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid extmishea commodi consequatur?
                                    Quis autem vel eum iure reprehenderit
                                    qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                                </p>
                            </div>
                            <div class="tu-sorttags">
                                <h6>Tags:</h6>
                                <ul class="tu-taglist">
                                    <li>
                                        <a href="search-listing.html">Marketing</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">E-Commerce</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">Top Management</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">Microsoft Office</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">Adobe XD</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">Figma</a>
                                    </li>
                                    <li>
                                        <a href="search-listing.html">Advanced placment</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tu-relatedatricles">
                                <div class="tu-blogtitle">
                                    <h3>Explore related articles</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xl-6 col-xxl-4">
                                        <div class="tu-articleitem">
                                            <figure>
                                                <img src="~/images/blogdetail/article/img-01.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-articleinfo">
                                                <ul class="tu-taglinks tu-taglinksm">
                                                    <li>
                                                        <a href="search-listing.html">Plant</a>
                                                    </li>
                                                    <li>
                                                        <a href="search-listing.html">Interior</a>
                                                    </li>
                                                </ul>
                                                <div class="tu-arrticltitle">
                                                    <h5><a href="blog-detail-left.html">Pharma Must Not Let Its COVID-19 Halo Slip</a></h5>
                                                </div>
                                                <div class="tu-description">
                                                    <p>
                                                        Nemo enim ipsam voluptatem quiate voluptas sit aspernatur aut odet auta fugit, sed quia consequunture...
                                                    </p>
                                                </div>
                                                <div class="tu-articleauth">
                                                    <div class="tu-articleauthor">
                                                        <figure>
                                                            <img src="~/images/blogdetail/article/img-04.jpg" alt="image description">
                                                        </figure>
                                                        <h6>Eleanor Pena</h6>
                                                    </div>
                                                    <span>Jul 08, 21</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-6 col-xxl-4">
                                        <div class="tu-articleitem">
                                            <figure>
                                                <img src="~/images/blogdetail/article/img-02.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-articleinfo">
                                                <ul class="tu-taglinks tu-taglinksm">
                                                    <li>
                                                        <a href="search-listing.html">Colorful</a>
                                                    </li>
                                                </ul>
                                                <div class="tu-arrticltitle">
                                                    <h5><a href="blog-detail-left.html">My Health and Research in Oncology</a></h5>
                                                </div>
                                                <div class="tu-description">
                                                    <p>
                                                        Nemo enim ipsam voluptatem quiate voluptas sit aspernatur aut odet auta fugit, sed quia consequunture...
                                                    </p>
                                                </div>
                                                <div class="tu-articleauth">
                                                    <div class="tu-articleauthor">
                                                        <figure>
                                                            <img src="~/images/blogdetail/article/img-05.jpg" alt="image description">
                                                        </figure>
                                                        <h6>Albert Flores</h6>
                                                    </div>
                                                    <span>Mar 08, 21</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xl-6 col-xxl-4">
                                        <div class="tu-articleitem">
                                            <figure>
                                                <img src="~/images/blogdetail/article/img-03.jpg" alt="image-description">
                                            </figure>
                                            <div class="tu-articleinfo">
                                                <ul class="tu-taglinks tu-taglinksm">
                                                    <li>
                                                        <a href="search-listing.html">Space</a>
                                                    </li>
                                                    <li>
                                                        <a href="search-listing.html">Architecture</a>
                                                    </li>
                                                    <li>
                                                        <a href="search-listing.html">DIY</a>
                                                    </li>
                                                </ul>
                                                <div class="tu-arrticltitle">
                                                    <h5><a href="blog-detail-left.html">Pharma Must Not Let Its COVID-19 Halo Slip</a></h5>
                                                </div>
                                                <div class="tu-description">
                                                    <p>
                                                        Nemo enim ipsam voluptatem quiate voluptas sit aspernatur aut odet auta fugit, sed quia consequunture...
                                                    </p>
                                                </div>
                                                <div class="tu-articleauth">
                                                    <div class="tu-articleauthor">
                                                        <figure>
                                                            <img src="~/images/blogdetail/article/img-04.jpg" alt="image description">
                                                        </figure>
                                                        <h6>Eleanor Pena</h6>
                                                    </div>
                                                    <span>Jul 08, 21</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tu-boxlg">
                                <div class="tu-boxtitle">
                                    <h3>12 Comments</h3>
                                </div>
                                <div class="tu-commentarea">
                                    <div class="tu-commentlist">
                                        <figure>
                                            <img src="~/images/blogdetail/comments/img-01.jpg" alt="image description">
                                        </figure>
                                        <div class="tu-coomentareaauth">
                                            <div class="tu-commentright">
                                                <div class="tu-commentauthor">
                                                    <h6>02 sec ago</h6>
                                                    <h5>Darren Mason</h5>
                                                </div>
                                                <div class="tu-commentreply">
                                                    <a class="tu-primbtn" href="#tu-themeformwrap">Reply</a>
                                                </div>
                                            </div>
                                            <div class="tu-description">
                                                <p>
                                                    Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris neimit utnaeliquip ex
                                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in volupte ateian essemae cillum dolore ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tu-commentlist">
                                        <figure>
                                            <img src="~/images/blogdetail/comments/img-02.jpg" alt="image description">
                                        </figure>
                                        <div class="tu-coomentareaauth">
                                            <div class="tu-commentright">
                                                <div class="tu-commentauthor">
                                                    <h6>10 min ago</h6>
                                                    <h5>Patsy Arnold</h5>
                                                </div>
                                                <div class="tu-commentreply">
                                                    <a class="tu-primbtn" href="#tu-themeformwrap">Reply</a>
                                                </div>
                                            </div>
                                            <div class="tu-description">
                                                <p>
                                                    Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris neimit utnaeliquip ex
                                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in volupte ateian essemae cillum dolore ut aliquip ex ea commodo consequat.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tu-commentchild">
                                        <div class="tu-commentarea">
                                            <div class="tu-commentlist">
                                                <figure>
                                                    <img src="~/images/blogdetail/comments/img-03.jpg" alt="image description">
                                                </figure>
                                                <div class="tu-coomentareaauth">
                                                    <div class="tu-commentright">
                                                        <div class="tu-commentauthor">
                                                            <h6>03 min ago</h6>
                                                            <h5>Ross Anderson</h5>
                                                        </div>
                                                        <div class="tu-commentreply">
                                                            <a class="tu-primbtn" href="#tu-themeformwrap">Reply</a>
                                                        </div>
                                                    </div>
                                                    <div class="tu-description">
                                                        <p>
                                                            Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerciten ationeco laborisen neimit utnae aliquip ex ea commodo consequat.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tu-commentlist">
                                        <figure>
                                            <img src="~/images/blogdetail/comments/img-04.jpg" alt="image description">
                                        </figure>
                                        <div class="tu-coomentareaauth">
                                            <div class="tu-commentright">
                                                <div class="tu-commentauthor">
                                                    <h6>01 mon ago</h6>
                                                    <h5>Bradley Gallagher</h5>
                                                </div>
                                                <div class="tu-commentreply">
                                                    <a class="tu-primbtn" href="#tu-themeformwrap">Reply</a>
                                                </div>
                                            </div>
                                            <div class="tu-description">
                                                <p>
                                                    Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris neimit utnaeliquip ex
                                                    ea commodo consequat volupte ateian essemae cillume.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tu-commentlist">
                                        <figure>
                                            <img src="~/images/blogdetail/comments/img-01.jpg" alt="image description">
                                        </figure>
                                        <div class="tu-coomentareaauth">
                                            <div class="tu-commentright">
                                                <div class="tu-commentauthor">
                                                    <h6>01 mon ago</h6>
                                                    <h5>Ross Anderson</h5>
                                                </div>
                                                <div class="tu-commentreply">
                                                    <a class="tu-primbtn" href="#tu-themeformwrap">Reply</a>
                                                </div>
                                            </div>
                                            <div class="tu-description">
                                                <p>
                                                    Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris neimit utnaeliquip ex
                                                    ea commodo consequat volupte ateian essemae cillume.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="show-more">
                                        <a href="javascript:void(0);" class="tu-readmorebtn tu-show_more">Show all</a>
                                    </div>
                                </div>
                            </div>
                            <div id="tu-themeformwrap" class="tu-boxlg">
                                <div class="tu-boxtitle">
                                    <h3>Add your review</h3>
                                </div>
                                <form class="tu-themeform" id="tu-themeform">
                                    <fieldset>
                                        <div class="tu-themeform__wrap">
                                            <div class="form-group-wrap">
                                                <div class="form-group form-group-half">
                                                    <label class="tu-label">Full Name</label>
                                                    <div class="tu-placeholderholder">
                                                        <input type="text" class="form-control" required="" placeholder="Full Name">
                                                        <div class="tu-placeholder">
                                                            <span>Your full name</span>
                                                            <em>*</em>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-group-half">
                                                    <label class="tu-label">Email address</label>
                                                    <div class="tu-placeholderholder">
                                                        <input type="email" class="form-control" required="" placeholder="Email address">
                                                        <div class="tu-placeholder">
                                                            <span>Your email</span>
                                                            <em>*</em>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="tu-label">Subject</label>
                                                    <div class="tu-placeholderholder">
                                                        <input type="text" class="form-control" required="" placeholder="Add subject">
                                                        <div class="tu-placeholder">
                                                            <span>Add subject</span>
                                                            <em>*</em>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="tu-label">Description</label>
                                                    <div class="tu-placeholderholder">
                                                        <textarea class="form-control tu-textarea" placeholder="Enter description"></textarea>
                                                        <div class="tu-placeholder">
                                                            <span>Enter description</span>
                                                        </div>
                                                    </div>
                                                    <div class="tu-input-counter">
                                                        <span>Characters left:</span>
                                                        <b>500</b>
                                                        /
                                                        <em> 500</em>
                                                    </div>
                                                </div>
                                                <div class="form-group tu-formspacebtw">
                                                    <div class="tu-check">
                                                        <input type="checkbox" id="expcheck2" name="expcheck">
                                                        <label for="expcheck2"><span>I have read and agree to all <a href="javascript:void(0);">Terms & conditions</a></span></label>
                                                    </div>
                                                    <button type="submit" name="submit" class="tu-primbtn-lg"><span>Submit</span><i class="icon icon-chevron-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN END -->


