
    <!-- MAIN START -->
    <main class="tu-main tu-bgmain">
        <section class="tu-main-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="tu-maintitle text-center">
                            <h4>Making ease for everyone</h4>
                            <h2>We made it in easy way</h2>
                            <p>accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
                <div class="row tu-howit-steps gy-4">
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="tu-howit-steps_content">
                            <figure><img src="~/images/how-it-work/img-01.jpg" alt="images"></figure>
                            <div class="tu-howit-steps_info">
                                <span class="tu-step-tag tu-orange-bgclr">STEP 01</span>
                                <h5>Post a tuition job</h5>
                                <p>Aeccusamus et iusto odiomae dignissimos ducimus quistames blanditiis praesentium voluptatum loramkes anuten.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="tu-howit-steps_content">
                            <figure><img src="~/images/how-it-work/img-02.jpg" alt="images"></figure>
                            <div class="tu-howit-steps_info">
                                <span class="tu-step-tag tu-purple-bgclr">STEP 02</span>
                                <h5>Hire your best match</h5>
                                <p>Aeccusamus et iusto odiomae dignissimos ducimus quistames blanditiis praesentium voluptatum loramkes anuten.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="tu-howit-steps_content">
                            <figure><img src="~/images/how-it-work/img-03.jpg" alt="images"></figure>
                            <div class="tu-howit-steps_info">
                                <span class="tu-step-tag tu-green-bgclr">STEP 03</span>
                                <h5>Get it done on time</h5>
                                <p>Aeccusamus et iusto odiomae dignissimos ducimus quistames blanditiis praesentium voluptatum loramkes anuten.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="tu-processing-holder">
                <div class="tu-processing-img">
                    <figure><img src="~/images/how-it-work/img-04.jpg" alt="image"></figure>
                </div>
                <div class="tu-betterresult tu-processing-content">
                    <div class="tu-maintitle">
                        <img src="~/images/zigzag-line.svg" alt="img">
                        <h4>Why our working is so unique</h4>
                        <h2>See how our working process easily adapt your need</h2>
                    </div>
                    <ul class="tu-processing-list">
                        <li>
                            <div class="tu-processinglist-info">
                                <i class="icon icon-smile tu-iconpurple_bgclr"></i>
                                <h4>User friendly hiring process</h4>
                            </div>
                            <p>Aeccusamus etmaes iusto odiomae dignissimos ducimus quistames blanditiis praesentium voluptatum loramkes anuten.</p>
                        </li>
                        <li>
                            <div class="tu-processinglist-info">
                                <i class="icon icon-umbrella tu-icongreen_bgclr"></i>
                                <h4>Verified process with ease</h4>
                            </div>
                            <p>Aeccusamus etmaes iusto odiomae dignissimos ducimus quistames blanditiis praesentium voluptatum loramkes anuten.</p>
                        </li>
                        <li>
                            <div class="tu-processinglist-info">
                                <i class="icon icon-shield tu-iconorange_bgclr"></i>
                                <h4>Secure payment gateway integrated</h4>
                            </div>
                            <p>Aeccusamus etmaes iusto odiomae dignissimos ducimus quistames blanditiis praesentium voluptatum loramkes anuten.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="tu-main-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="tu-maintitle text-center">
                            <h4>We guarantee quality process</h4>
                            <h2>Let’s join our community today</h2>
                            <p>accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                        <ul class="tu-banner_list tu-banner_list-two">
                            <li>
                                <a href="signup.html" class="tu-primbtn tu-primbtn-gradient"><span>Start as student</span><i class="icon icon-chevron-right"></i></a>
                            </li>
                            <li>
                                <a href="signup.html" class="tu-secbtn"><span>Join as Instructor</span><em>It’s Free!</em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- MAIN END -->

