@{
    string message = TempData["message"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="popover-container">
        <div class="alert alert-popover alert-dismissible" role="alert">
           <div>
            @message

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
        </div>
    </div>
    }

<div class="tu-preloader">
    <div class="tu-preloader_holder">
        <img src="~/images/favicon.png" alt="laoder img">
        <div class="tu-loader"></div>
    </div>
</div>