  @if (User.Identity.IsAuthenticated)
 {
    @if (User.IsInRole("Admin"))
    {
        @await Html.PartialAsync("~/Views/Shared/PartialViews/AdminHeader.cshtml")
    }
    else if (User.IsInRole("Student"))
    {
        @await Html.PartialAsync("~/Views/Shared/PartialViews/StudentHeader.cshtml")
    }
    else if (User.IsInRole("Teacher"))
    {
        @await Html.PartialAsync("~/Views/Shared/PartialViews/TeacherHeader.cshtml")
    }

}
 else
 {
   <header class="tu-header">
    <nav class="navbar navbar-expand-xl tu-navbar">
        <div class="container-fluid">
            <strong>
                <a class="navbar-brand" asp-controller="Home" asp-action="index"><img src="~/images/logo.png" alt="Logo"></a>
            </strong>
            <button class="tu-menu" aria-label="Main Menu" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse">
                <i class="icon icon-menu"></i>
            </button>
                <div class="collapse navbar-collapse tu-themenav" id="navbarSupportedContent">
               <ul>

              <li class="nav-item">
              <a class="tu-primbtn-lg" asp-controller="Authentication" asp-action="Login">
              <i class="fas fa-sign-in-alt m-3"></i>Sign In
               </a>
              </li>
              </ul>
           </div>
        </nav>
    </header>
 }